/* Author:  Anne Korhonen, Web-projekti
            Kevät 2021 */

            @import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

            /*Visakysymyksien muotoilut*/
            ul{
                list-style-type: none;
                display: inline-block;
                text-align: left;
                font-family: 'Akaya Kanadaka', cursive;
                font-size: 20px;
            }

            li:hover {
                background-color: rgb(225, 252, 207);
            }

            /*piilotetut elementit*/
            .hided{
                display: none;
            }

            #answ{
            margin-left: 20px;
            margin-right: 20px;
            }

            /*Tekstien muotoilu*/
            h2{
                font-family: 'Akaya Kanadaka', cursive;
                margin-bottom: 30px;
                margin-top: 30px;
            }
            
            h3{
                font-family: 'Akaya Kanadaka', cursive;
                background: linear-gradient(to right, #009900, #20d420);
                display: inline-block;
                text-align: center;
                border-radius: 3px;
            }
            
            p{
                font-family: 'Akaya Kanadaka', cursive;
                font-size: 20px;
            }
            
            /* Vastausvaihtoehtojen värit: valittu,väärä,oikea */
            .choise{
                background: linear-gradient(to right, #065f06, #20d420);
                border-radius: 3px; 
            } 
            
            .false{
                background: linear-gradient(to right, #bd1212, #e63e3e);
                border-radius: 3px;
            }
            
            .true{
                background: linear-gradient(to right, #065f06, #20d420);
                border-radius: 3px;
            }
            
            /*sivun värit ja marginaalit*/
           /*  section{
                padding-left: 15px;
                padding-right: 15px;
                margin-bottom: -5em;
            } */
            
            /*Kuvien muokkaus*/
            img{
                max-width: 100%;
            }
            
            /*Tulokset*/
            .button{
                background: linear-gradient(to right, #009900, #20d420);
                font-family: 'Akaya Kanadaka', cursive;
                border-radius: 5px;
                margin-bottom: 20px;
                border-color: rgb(164, 172, 172);
                font-size: 18px;
                padding-left: 8px;
                padding-right: 8px;
            }

            .button:hover {
                background-color: #4CAF50; /* Green */
                color: rgb(248, 252, 248);
            }

            #allanswers{
                background: linear-gradient(to right, #bd1212, #e63e3e);
            }