@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans&display=swap');

/*Fonttien määrittelyt*/
h2{
    font-family: 'Audiowide', cursive;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 20px;
}

h3{
    font-weight: bolder;
    padding-bottom: 15px;
}

h4{
    font-weight: bolder;
}

p{
    font-size: 20px;
}

.font,
.form-check{
    font-size: 20px;
}

h3,
h4,
p,
.sel1,
.usr,
.form-check{
    font-family: 'Open Sans', sans-serif;
}

#wrong1{
    color: rgb(255, 0, 0);
    font-weight: bold;
}

#right1{
    color: rgb(58, 145, 18);
    font-weight: bold;
}

.fa-thumbs-o-up{
    color: #0d830d;
}

img{
    max-width: 100%;
}

#ten{
    margin-top: 60px;
}

#apple{
    margin-top: 15px;
}


section{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    margin-bottom: -5em;
    border-style: dotted;
    border-color: rgb(6, 146, 17);
}

.form-group{
    display: inline-block;
}

.hided{
    display: none;
}