@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

 
h2 {
     
    font-family: 'Mali', cursive;
    font-weight: 500;
    
}

h1.kaisa2_h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 700;
    text-shadow: 2px 4px grey;
}



section {
    vertical-align: top;  
    display: inline-block;
    
}


img {
    max-width: 50%;
  /*  margin-top: 1em; */
    border-radius: 8px;
}

label {
    margin-bottom: 0.5em;
    width: 7em;
    display: inline-block;
    font-family: 'Mali', cursive;
    font-weight: bold 
    
}


input {
    width: 6em;
    font-family: 'Mali', cursive;
    font-weight: bold;
    box-shadow: 3px 5px grey;  
    padding-bottom: 5px;  
}

button {

    font-family: 'Mali', cursive;
    font-weight: 500;
    box-shadow: 3px 5px grey;
    padding-bottom: 5px;
}




p.kaisa_p {
    font-family: 'Mali', cursive;
    font-weight: bold;
    padding-top: 15px;
}

/* piilossa */
.hided, 
.hided p {
    display: none;
    font-family: 'Mali', cursive;
    font-size: large;

}

.right_label {
    background-color: #49c760;
}

.wrong_label {
    background-color:  #c74848;
}


