
 @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;700&display=swap');

 
h2 {
     
    font-family: 'Mali', cursive;
    font-weight: 500;
    /* font-family: 'Architects Daughter', cursive; */
    /* font-family: 'Open Sans', sans-serif; */
}

h1.kaisa_h1  {
    font-family: 'Mali', cursive;
    font-weight: 700;
    text-shadow: 2px 4px grey;
}

/* section {
    margin-top: 1em;
    margin-right: 1em;
    padding-top: 0.5em;
    width: 15em;
    vertical-align: top;  
    display: inline-block;
}
*/


img {
    max-width: 100%;
  /*  margin-top: 1em; */
    border-radius: 8px;
    box-shadow: 5px 8px grey;
}

label {
    margin-bottom: 0.5em;
    width: 7em;
    display: inline-block;
    font-family: 'Mali', cursive;
}

/*
button {
    display: block; 
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-family: tahoma;
    font-size: 1em;
}

*/
input {
    width: 6em;
}


input[type=radio],
input[type=checkbox] {
    width: 1.2em;
}

.radiolabel {
    width: 8em;
}



/* valinta-napin valinnan mm. väri valittuna */

.selected {
    background-color: #49c760;
    color: black;
}


.selected_nope {
    background-color: #c74848;
    color: white;
    width: auto;
}

.selected_ohyes {
    font-weight: bold;
    color:  #49c760;
  

}


/*
p.kaisa_p {
    font-family: 'Mali', cursive;
}
*/


/* piilossa */
.hided, 
.hided p {
    display: none;
    font-family: 'Mali', cursive;

}

p[name="results"] {
    font-family: 'Mali', cursive;
    font-weight: bold;

}


