/* Laura Vikström   TIK21KM */

@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');


h2,
h3,
h5,
.painike {
    font-family: 'Goudy Bookletter 1911', serif;
}

.list-group-item {
    background-color: #EBF7E3;
    border: none;
}

.hided {
    display: none;
}

.fontti2 {
    font-family: 'Rouge Script', cursive;
    font-size: 26px;
}

.pelementti {
    max-width: 60ch;
    margin: 0 auto !important;    
}

.inputkentta {
    max-width: 50ch;
    margin: 0 auto !important;
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
}
