@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');


/* PC Style */

html{
  background-color: #000;
}

body {
  margin: 0px;
  user-select: none;
  -moz-user-select: none;
  background-color: #000 !important;
}

h1 {
  font-family: 'Arima Madurai', cursive;
}

h1.timing {
  font-size: 3.2rem;
  color: #fff
}

.text-a {
  color: #8c8c8b;
}

.text-a:hover {
  color: #fff;
  text-decoration: none;
}

form{
  position: relative;
  top: 50%;
  width: 400px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}


input{
  position: absolute;
  top: 0;
  left: 0;
  width: 92%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
  white-space: nowrap;
}

input[type=text]:focus{
width: 100;
}

form[type=text]:focus{
  width: 100;
}

input:valid {
  width: 100;  
}

form:hover{
  width: 400px;
  cursor: pointer;
}

form input{
  display: inline-block;
}

form:hover .fa{
  background: #07051a;
  color: white;
}

.fa{
  box-sizing: border-box;
  padding: 5px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1em;
  transition: all 1s;
}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.google {  
  width: 100%;
  height: 30vh;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: #fff
}

.google-style {
  font-size: 1.5rem;
  height: 100em;
  margin: 6em 0em;
  text-align: top;
}

.square {
  padding-top: 4em;
  font-size: 1.3rem;
  height: 10em;
  margin: 0em 0em;
  text-align: center;
}

.square-header {
  font-family: 'Slabo 13px', serif;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  margin: 0em 0em 0em 0em;
}

a {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  display: block;
  margin: .5em 0em;
}

/* Mobile Styles */
@media only screen and (max-width: 720px) {
  

.google {  
  width: 100%;
  height: 30vh;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: #fff
}

.google-style {
  font-size: 1.5rem;
  height: 50em;
  margin: 6em 0em;
  text-align: top;
}

form{
  position: relative;
  top: 50%;
  width: 300px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

h1.timing {
  top: 10%;
  font-size: 3.2rem;
  color: #fff
}

.square {
  padding: 1.5em;
  padding-top: 140px;
  font-size: 0.8rem;
  width: auto;
  margin: 0em 0em;
  text-align: center;
}

.square-header {
  font-family: 'Slabo 13px', serif;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  margin: 0em 0em 0em 0em;
}

input{
  position: absolute;
  top: 0;
  left: 0;
  width: 92%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
  white-space: nowrap;
}

input[type=text]:focus{
width: 100;
}

form[type=text]:focus{
  width: 100;
}

input:valid {
  width: 100;  
}

form:hover{
  width: 300px;
  cursor: pointer;
}

}

/* @media only screen and (max-width: 1500px) {
  .square {
    padding-top: 110px;
  }
} */
